HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


# Arquivos de Segredo e Ambiente
# Se você usar um arquivo .env para variáveis de ambiente (como a senha do Owner)
# ou secrets, eles serão ignorados.
.env
/.env

# Outros artefatos de build que podem escapar
*.jar
*.war
